body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.menu{
  background-color: #0A2640;
  /* height: 1500px; */
  padding-bottom: 100px;
}
.centere{
  justify-content: center;
  position: absolute;
  bottom: -800px; 
 }
 @media (max-width: 992px){
  .centere{
     text-align: center;
     position: absolute;
    top: 950px;
   }
} 
.text{
  font-size: 110px;
}
@media (max-width: 820px){
  .image{
   text-align: center;
   position: relative;
   top: 190px;
  } 
} 
/* .image{
  width: 500px;
} */
 @media (max-width: 768px){
   .image{
    text-align: center;
    position: relative;
    top: 350px;
   } 
}  
@media (max-width: 562px){
  .centere{
     text-align: center;
     position: absolute;
    top: 1900px;
   }
}
@media (max-width: 1280px){
  .centere{
     text-align: center;
     position: absolute;
    top: 800px;
   }
}
 /* @media (max-width: 375px){
  .image{
     text-align: center;
     position: relative;
     top: 100px;
   } 
}  */
 @media (max-width: 414px){
   .image{
    text-align: center;
    position: relative;
    top: 1150px;
   } 
} 
@media (max-width: 540px){
  .centere{
     text-align: center;
     position: absolute;
    top: 1190px;
   }
}
.text{
  font-size: 110px;
}
.image{
  width: 500px;
}

 
 /* .men{
  height: 75px;
 } */
.chrono{
  background-color: #0A2640;
  color: white;
}
/* .bg15{
  background-color: #0A2640;
} */
.valu{
  background-color: #0A2640;
  color: white;
}
.store{
  align-items: flex-start;
}
.texte{
  justify-content: right;
}
.chr{
  color: #4FE9A4;
}
.teame{
  justify-content: center;
}
.website{
  background-color: #0A2640;
  color: white;
 }
 .centre{
  justify-content: center;
 }
 .btn{
background-color: #65E4A3;
 }
 .logo{
  color: black;
 }
 .active{
  color: red;
 }
 .bar{
  background-color: #0A2640;
  /* width: 100%; */
 }